.hierachy-form {
  display: flex;
  width: 666px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 28px 157px;
  flex-wrap: wrap;
}

.form-header {
  display: flex;
  align-items: center;
  gap: 23px; /* Espacio entre el título y el ícono */
}

.form-icon {
  display: flex;
  align-items: center;
}

.form-group {
  display: flex;
  width: 666px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.form-icon img {
  width: 25px;
  height: 25px;
}
