.download-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 185px;
    height: 62px;
    background: #F56F10;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.download-button img{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}