.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.custom-button {
    border-radius: 50px;
    border: 0.5px solid;
    border-color: #D9D9D9;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 8px;
    background-color: transparent;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.button-icon img {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
}

/* Variantes específicas */
.back {
    width: 50px;
    height: 50px;
    padding: 8px;
}

.back .button-icon img {
    width: 26px;
    height: 26px;
    background-color: transparent;
}

.back:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.download {
    width: 185px;
    height: 62px;
    background-color: #F56F10;
    color: #ffffff;
    font-weight: 500;
    border-radius: 50px;
}

.download span {
    color: #ffffff;
}

.download:hover {
    background-color: #ff8616;
}

.next {
    border-radius: 50px;
    background-color: transparent;
    font-style: italic;
}

.next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.delete-button {
    background: #ffe5e5;
    color: #d60000;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.delete-button:hover {
    background: #f8cfcf;
}

.cancel-button {
    background: #e0e0e0;
    color: #333333;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.cancel-button:hover {
    background: #d0d0d0;
}

.ok-button {
    border-radius: var(--radius-xs, 4px);
    border: 1px solid #E56C33;
    background: #E56C33;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: white;
}

.ok-button:hover {
    background: #ff8045;
}