.description.forms {
  color: var(--Colors-Text-text-primary, #333);
  font-family: "Plus Jakarta Sans";
  font-size: var(--Versin-web-Contenido-Body, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  text-align: left;
  align-self: stretch;
}

.description.p {
  color: var(--neutral-dark-gray, #000000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  width: 100%;
  text-align: left;
}

.description.forms2 {
  /* Estilos para la nueva variante */
  color: var(--neutral-dark-gray, #848088);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  text-align: left;
}
