.home-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	width: 100%;
	max-width: 1740px;
	height: 100vh;
	gap: 3rem;
	padding: 10% 10% 0 10%;
	position: relative;
}

.home-head {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.info-container {
	display: flex;
	width: 100%;
	gap: 2rem;
	text-align: left;
}

.info {
	width: 100%;
}

.info h2 {
	margin-bottom: 1rem;
}

.img-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.img-link iframe {
	width: 100%;
	height: 300px;
	border-radius: 12px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	border: none;
}

.dots-bckg-img {
	position: absolute;
	right: 0;
	bottom: 16%;
	width: auto;
	height: 30%;
}

.line-bckg-img {
	position: absolute;
	left: 0;
	transform: translateX(-10%);
	top: 16%;
	width: auto;
	height: 30%;
}
