/* Estilo general */
.navbar {
	display: flex;
	width: 100vw;
	background-color: white;
	padding: 1.5rem 6rem;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
}

/* Logo */
.logo {
	height: 100%;
	width: 16.25em;
	padding: 0;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 1.25rem;
	width: auto;
}

.nav-links a {
	width: 100%;
	color: #333333;
	text-decoration: none;
	font-weight: 400;
	transition: color 0.3s ease;
	width: fit-content;
   opacity: 60%;
}

.nav-login a {
	transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-login a:hover {
	color: #ff4081;
	stroke: #ff4081;
   opacity: 100%;
}

.nav-links li {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.nav-links {
	display: flex;
	gap: 1.25rem;
	font-size: 1rem;
	color: #333333;
	/* Puedes ajustar este color según el diseño */
}

.nav-login button{
   background-color: #E9683B;
   color: white;
   padding: 8px 12px;
   border-radius: 4px;
   margin-left: 12px;
}

/* Responsive para móviles */
@media (max-width: 768px) {
	.navbar {
		display: flex;
		flex-direction: column;
		width: auto;
	}

	.navbar-content {
		flex-direction: column;
		align-items: center;
		margin: 0;
		gap: 1rem;
	}

	.nav-links {
		flex-direction: column;
		width: 100%;
		margin: 1rem 0;
		gap: 1rem;
	}

	.nav-links li {
		width: 100%;
	}

	.nav-links a {
		display: block;
		width: 100%;
	}
}
