.table-container {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
   align-items: center;
	padding: 20px 0;
}

table {
	table-layout: auto;
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	min-width: 200px;
	max-width: 400px;
	text-align: center;
	padding: 10px;
}

.area-row {
	background-color: #f2f2f2;
	border-radius: 30px;
	border: 8px solid white;
	padding: 4px 16px;
}

.area-name {
	display: flex;
	justify-content: space-between;
	width: 180px;
}

.area-name p {
	flex-shrink: 6;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.area-name svg {
	width: 18px;
	height: 19px;
}

.jerarquia {
	background-color: #f2f2f2;
	border-radius: 30px;
	border: 8px solid white;
	padding: 4px 32px;
}

.jerarquia div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.jerarquia p {
	font-size: 38px;
	font-weight: 100;
}

td button {
	width: 180px;
	max-width: 180px;
	padding: 8px 0;
	background: #ffffff;
	border: 2px solid #f56f10;
	color: #f56f10;
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-disabled {
	opacity: 0.2;
	pointer-events: none;
	border: 2px solid gray;
	color: gray;
}

td button:hover {
	background: #f56f10;
	color: #ffffff;
}

td span {
	width: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	background-color: #f56f10;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td span .role-name {
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: #ffffff;
	padding: 20px;
	border-radius: 10px;
	width: 540px;
	text-align: center;
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
	font-size: 24px;
	font-weight: 500;
}

.modal-content label {
	display: block;
	text-align: left;
	font-weight: bold;
}

.modal-content input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-content form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.modal-buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 20px;
}

#blank {
	background-color: #ffffff;
	pointer-events: none;
}

.modal-content .delete-button {
	background: #ffe5e5;
	color: #d60000;
	padding: 10px 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	border: none;
}

.modal-content .delete-button:hover {
	background: #f8cfcf;
}

.modal-content .cancel-button {
	background: #e0e0e0;
	color: #333333;
	padding: 10px 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	border: none;
}

.modal-content .cancel-button:hover {
	background: #d0d0d0;
}

.modal-content .submit-button {
	background: #f56f10;
	color: #ffffff;
	border: 2px solid #f56f10;
	padding: 10px 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	border: none;
}

.modal-content .submit-button:hover {
	background: #e8630e;
}

.subcargos-section {
	width: 100%;
}

.add-subcargo-button {
	background: #f56f10;
	color: #ffffff;
	border: 2px solid #f56f10;
	padding: 10px 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 20px;
}

.add-subcargo-button:hover {
	background: #e8630e;
}

.input-row,
.subcargo-row {
	display: flex;
	gap: 12px;
	width: 100%;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 6px;
	flex: 1;
}

.subcargo-row {
	display: flex;
	align-items: center;
	gap: 12px;
	width: 100%;
	margin: 6px 0 12px 0;
}

.subcargo-input-group {
	display: flex;
	width: 100%;
}

#subcargo-employees {
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 5px 0 0 5px;
}

.delete-subcargo-button {
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;
	padding: 0 8px;
	background-color: transparent;
	transition: 0.3s;
}

.delete-subcargo-button svg {
	stroke: #b8b8b8;
	transition: 0.3s;
}

.delete-subcargo-button:hover {
	background-color: #e0283e;
}

.delete-subcargo-button:hover svg {
	stroke: #ffffff;
}

.add-subcargo-link {
	background: none;
	border: none;
	color: #f56f10;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 6px;
	margin-top: 12px;
}

.add-subcargo-link:hover {
	text-decoration: underline;
}

.action-buttons {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 16px;
	margin-top: 20px;
}

.small-button {
	font-size: 14px;
	border-radius: 8px;
}

.divider {
	height: 1px;
	width: 100%;
	background-color: #eeeeee;
	margin: 0;
}
