.subtitle {
  color: var(--Colors-Text-text-primary, #333);
  font-family: "Plus Jakarta Sans";
  font-size: var(--Versin-web-Subtitulos-Subtitle, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}
