.subtitle {
    color: var(--neutral-black, #090011);
    font-family: ABeeZee;
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 25.2px */
    text-align: left;
    margin-bottom: 4px;
}

