@import 'tailwindcss';

@font-face {
	font-family: 'AdventuresUnlimited';
	src: url('/fonts/AdventuresUnlimited.woff2') format('woff2');
}

@layer base {
	:root {
		--default-font-family: 'Plus Jakarta Sans', sans-serif;
		--secondary-font-family: 'AdventuresUnlimited', sans-serif;
		--bg-light: #ffffff;
		--bg-dark: #111111;
	}
}
