/* ExplanationScreen.css */

.survey-content {
  width: 100%;               /* El contenido ocupa el 100% del contenedor */
  max-width: 1200px;         /* Limita el máximo del contenido, puedes ajustarlo según necesites */
  text-align: left;          /* Alinea el texto a la izquierda */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.survey-header {
  font-size: 18px;
  font-weight: bold;
}

.survey-text {
  font-size: 16px;
  line-height: 1.6;
}

.survey-content p, .survey-content h4{
   margin: 0;
}

.survey-list {
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#survey-message-end{
   margin-top: 50px;
}

/* Estilo del botón, alineado a la derecha */
.survey-buttons {
  display: flex;
  justify-content: flex-end;  /* Alinea el botón a la derecha */
  margin-top: 20px;
}
